<div class='flex flex-row   space-x-2  border-t border-b-gray-200/50 pb-2'>
    <div class='min-w-fit my-2'>
        <img 
            class=' m-2 rounded-full  h-10 w-10'
            src="https://cdn-icons-png.flaticon.com/512/8847/8847523.png" />

    </div>
  
    <div class='w-full '>
        <div class='py-5 '>
            <input class='mt-1 text-lg outline-none' placeholder='¿Qué esta pasando?'/>
        </div>
        <div class='flex flex-row justify-between mt-3 '>
            <div class='flex flex-row space-x-4 my-1 ml-1 text-sky-600'>
                 
                <ng-icon name="heroPhoto" class='w-4.5 h-5 cursor-pointer' />
                <ng-icon name="heroGif" class='w-4.5 h-5 cursor-pointer' />
                <ng-icon name="heroListBullet" class='w-4.5 h-5 cursor-pointer' />
                <ng-icon name="heroFaceSmile" class='w-4.5 h-5 cursor-pointer' />
                <ng-icon name="heroCalendar" class='w-4.5 h-5 cursor-pointer' />
                <ng-icon name="heroMapPin" class='w-4.5 h-5 cursor-pointer' />
            </div>
            <button class='bg-sky-300 mr-4 px-4 py-1 text-xss text-white font-medium rounded-full'>Twittear</button>
        </div>
        

    </div>
</div>