<div class=' hidden lg:inline mt-2 space-y-4'>

    <div class='bg-gray-100 flex flex-row rounded-full px-4 py-2  space-x-2'>
        <ng-icon name="heroMagnifyingGlass" 
        class='mt-0.5 w-5 h-5 text-gray-500' />
        <input class=' outline-none bg-gray-100 placeholder:text-gray-500' placeholder='Buscar en Twitter' />

    </div>

    <div class='w-full  bg-gray-100 space-y-2 p-2 rounded-2xl'>
    <h3 class='p-2 text-xl font-bold'>Qué esta pasando</h3>           
        <div class='p-2 text-sm'>
            
            <b>#TuSleecionIdealSabrias</b>
            <p>Disfruta los partidos del mundial con tu selección ideal Sabritas®</p>     
        </div>
        <div class='p-2 text-sm flex flex-row justify-between'>
            <div>
                <p class='text-xs'>Tendecia en Mexico</p>   
                <b>Cristiano</b>
                <p>El mejor jugador del mundo</p>     
                <p class=' text-xs'>42 mil Tweets</p>
            </div>
            <ng-icon name="heroEllipsisHorizontal" class='w-6 h-6' />
        </div>
        <div class='p-2 text-sm  flex flex-row justify-between'>
            <div>
                <p class='text-xs'>Tendecia en Mexico</p>
                <b>Stephen Curry</b>
                <p>La leyenda en persona</p> 
                <p class=' text-xs'>100 mil Tweets</p>    
            </div>
            <ng-icon name="heroEllipsisHorizontal" class='w-6 h-6' />
        </div>
        <h1 class='p-5 text-sky-500 cursor-pointer'>Mostrar mas</h1>
    </div>
    

    <div class='w-full  bg-gray-100 space-y-2 p-2 rounded-2xl'>
    <h3 class='p-2 text-xl font-bold'>A quien seguir</h3>           
        
        <div class='p-2 text-sm flex flex-row justify-between'>
        <div class='flex justify-between cursor-pointer w-full hover:bg-gray-200  p-3 pr-6'>
        <div class='flex space-x-3'>
            <img class=' object-contain w-10 h-10  rounded-full' src="https://cdn-icons-png.flaticon.com/512/8847/8847523.png" />
            <div class='hidden lg:inline flex flex-col  text-sm'>
                <p>
                    <b> Luis Pinot </b>
                </p>
                <p>
                    @lapcpc
                </p>

            </div>
            
            </div>
            <p class=' font-bold h-fit py-1.5 px-4 rounded-full  hover:bg-black/75 bg-black text-white'>Seguir</p>
        
        </div>  
        
       
    </div>
    <h1 class='p-5 text-sky-500 cursor-pointer'>Mostrar mas</h1>
    </div>
</div>